/* Creo container */

.conteiner{
    max-width: 1080px;
    margin: 0 auto;
}

/* heder */

.immagine-header{
    height: 100px;
    width: 1080px;
    background-color: cornflowerblue;
    background-image: url("../img/pattern.png");
    background-size: 320px;
}

.logo{
    height: 300px;
    width: 200px;
    padding-top: 25px;
}   
h1{
    font-size: 39px;
    margin-bottom: 0px;
}

/* main */

.immagini-main{
    margin-top: 10px;
    margin-bottom: 0px;
}

.titoli-immagini{
    margin-top: 0px;
}

.lista{
    margin-left: 0px;
}

.evidenzia{
    background: yellow;
}


.corta{
    width: 250px;
    height: 50px;
}

.lunga{
    width: 550px;
    height: 50px;
}

.cieleste{
    background-color:cyan;
    border: 0px;
}


.riga-bluscuro{
    background: dodgerblue;
    border: 0px;
}
